gevent --1.4
auto-py-to-exe
asgiref==3.3.4
astroid==2.5.3
colorama==0.4.4
Django==3.2
django-crispy-forms==1.11.2
dnspython==2.1.0
gunicorn==20.1.0
isort==5.8.0
lazy-object-proxy==1.6.0
mariadb==1.0.6
mccabe==0.6.1
mysql-connector-python==8.0.24
numpy==1.20.2
pandas==1.2.4
Pillow==8.2.0
protobuf==3.16.0
pylint==2.7.4
pymongo==3.11.4
python-dateutil==2.8.1
pytz==2021.1
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
whitenoise==5.2.0
wrapt==1.12.1
